In [ ]:
import tensorflow as tf
import numpy as np
import pandas as pd
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split

In [ ]:
# Function to evaluate: accuracy, precision, recall, f1-score
from sklearn.metrics import accuracy_score, precision_recall_fscore_support

def calculate_results(y_true, y_pred):
  """
  Calculates model accuracy, precision, recall and f1 score of a binary classification model.

  Args:
  -----
  y_true = true labels in the form of a 1D array
  y_pred = predicted labels in the form of a 1D array

  Returns a dictionary of accuracy, precision, recall, f1-score.
  """
  # Calculate model accuracy
  model_accuracy = accuracy_score(y_true, y_pred) * 100
  # Calculate model precision, recall and f1 score using "weighted" average
  model_precision, model_recall, model_f1, _ = precision_recall_fscore_support(y_true, y_pred, average="weighted")
  model_results = {"accuracy": model_accuracy,
                  "precision": model_precision,
                  "recall": model_recall,
                  "f1": model_f1}
  return model_results

In [ ]:
# Function to convert pred probs into labels
def make_preds(model, data):
    """
    This function make predictions on the validation data and returns the prediction labels
    """
    pred_probs = model.predict(data)
    preds = tf.argmax(pred_probs, axis=1)
    
    return preds

In [ ]:
# Make a function some predictions on test data and visualize them
def visualize_random_preds(model):
    """
    Make predictions with our model and visualize them with their labels
    r
    Args:
        model: model you want to predict the labels with
         
    """
    
    
    # Selecting a random sentence from our validation dataset
    random_number = random.randint(0, len(test_sentences))
    pred_probs = model.predict(test_data)
    y_preds = tf.argmax(pred_probs, axis=1)
    print(f"Text: \n{test_sentences[random_number]}\n")
    print(f"Predicted label: {class_names[y_preds[random_number]]}\n")
    print(f"Original label: {test_labels[random_number]}\n" )

In [ ]:
train = pd.read_csv("train_telugu_news.csv")
test = pd.read_csv("test_telugu_news.csv]")

In [ ]:
train

,SNo,date,heading,body,topic
0,414,11-05-2017 00:39:13,ఐడిబిఐపై ఆర్‌బిఐ నజర్‌,భారీ ఎత్తున మొండిబకాయిలు పెరిగిపోవడంతో ఐడిబిఐ ...,business
1,2668,12-06-2017 00:40:32,బ్యాంకింగ్‌ చీఫ్‌లతో నేడు జైట్లీ భేటీ,న్యూఢిల్లీ : ఆర్థిక మంత్రి అరుణ్‌ జైట్లీ సోమవా...,business
2,19923,19-01-2017 19:51:31,కీలక వికెట్ తీసిన జడేజా..,కటక్: ఇంగ్లండ్‌తో జరుగుతున్న సెకండ్ వన్డే మ్యా...,sports
3,15762,23-11-2017 17:29:04,మరో రెచ్చగొట్టే చర్యకు దిగిన పాకిస్థాన్,\nఇస్లామాబాద్ : పాకిస్థాన్ అంతర్జాతీయ ఉగ్రవాది...,nation
4,8624,03-04-2017 15:48:23,గోవాలో కొడుకుతో కలిసి అల్లు అర్జున్ స్విమ్మింగ్!,స్టార్‌ హీరోగా వరుస సినిమాలతో బిజీగా ఉన్నప్పటి...,entertainment
...,...,...,...,...,...
17307,10296,02-02-2017 12:18:11,"చిరు,ఎన్టీఆర్ వల్ల కాజల్‌కు దక్కిందేమిటి..?",ఇండస్ట్రీలో హీరోయిన్‌గా రాణించాలంటే కేవలం గ్లా...,entertainment
17308,13641,20-12-2017 04:16:32,"హిమాచల్‌ సీఎం రేసులో నడ్డా, జైరామ్‌","షిమ్లా, డిసెంబరు 19: హిమాచల్‌ ప్రదేశ్‌ అసెంబ్ల...",nation
17309,17288,20-05-2017 03:00:10,సతతహరిత విప్లవం అవసరం,2022 నాటికి రైతుల ఆదాయం రెట్టింపు చేయడానికి క...,nation
17310,20882,13-06-2017 04:30:36,ఇంగ్లండ్‌ జెర్సీలో వార్న్‌..!,పందెంలో ఓడిన షేనలండన్: ఆస్ట్రేలియా స్పిన్ లెజె...,sports
17311,13905,17-12-2017 02:12:54,ఆ శక్తి రాహుల్‌కు ఉంది!,ధైర్యంగా పార్టీని నడపగలరు దేశం సవాళ్లను ఎదుర్...,nation

In [ ]:
test

,SNo,date,heading,body,topic
0,7771,19-05-2017 13:44:10,కేశవ,హీరోగా తెలుగు సినిమాల్లోకి ఎంట్రీ ఇచ్చిన నిఖిల...,entertainment
1,9591,01-08-2017 13:58:24,డబ్బుల కోసం ప్రాణాల మీదకు తెచ్చుకుంటారా.. హీరో...,సినిమాల్లో యాక్షన్ స్టంట్లు చేసేటప్పుడు ఎక్కు...,entertainment
2,12622,05-04-2017 00:31:58,దక్షిణాదిన బీజేపీ పప్పులుడకవ్‌,దక్షిణ భారతాన్ని ఆక్రమించేందుకు బీజేపీ పంచెలు ...,nation
3,16401,30-08-2017 03:34:37,పీఎస్‌ఎల్వీ-సీ39కి గ్రీన్‌సిగ్నల్‌,నేటి మధ్యాహ్నం 1.59కి కౌంట్‌డౌన్‌ షురూశ్రీహరి...,nation
4,10422,10-04-2017 09:00:48,ఏయ్ జయప్రకాష్ అనే కేక వినిపించింది.. వెనక్కి త...,‘ఏమి రా... అబ్బి... యాడికి పోయినావు’ అంటూ రాయ...,entertainment
...,...,...,...,...,...
4324,4093,18-11-2017 01:17:03,వర్గ హత్యలు ఆగాలి!,\nమొన్న త్రిసూరులో పట్టపగలు ఆరెస్సెస్ కార్యకర్...,editorial
4325,13874,22-03-2017 19:02:03,'ఫేస్‌బుక్‌'పై నిషేధం..?,ఇస్లామాబాద్: దైవదూషణకు సంబంధించిన సమాచారానికి ...,nation
4326,15364,15-06-2017 03:18:08,అమెరికా చట్టసభ్యుడిపై కాల్పులు,"ఒక రిపబ్లికన్‌ సభ్యుడు, నలుగురు అధికారులకు గాయ...",nation
4327,17166,18-05-2017 19:22:27,కోటి రూపాయల.. రద్దైన పాత కరెన్సీ స్వాధీనం,"థానే: కోటి రూపాయల విలువైన రద్దైన పాత రూ.1000, ...",nation
4328,8138,15-11-2017 22:37:02,ప్రస్తుతం ఆ కేటగిరీలో ఉన్నా,\n‘‘సంగీతం అనేది మహా సముద్రం. నేర్చుకునే కొద్ద...,entertainment

In [ ]:
train.head()

,SNo,date,heading,body,topic
0,414,11-05-2017 00:39:13,ఐడిబిఐపై ఆర్‌బిఐ నజర్‌,భారీ ఎత్తున మొండిబకాయిలు పెరిగిపోవడంతో ఐడిబిఐ ...,business
1,2668,12-06-2017 00:40:32,బ్యాంకింగ్‌ చీఫ్‌లతో నేడు జైట్లీ భేటీ,న్యూఢిల్లీ : ఆర్థిక మంత్రి అరుణ్‌ జైట్లీ సోమవా...,business
2,19923,19-01-2017 19:51:31,కీలక వికెట్ తీసిన జడేజా..,కటక్: ఇంగ్లండ్‌తో జరుగుతున్న సెకండ్ వన్డే మ్యా...,sports
3,15762,23-11-2017 17:29:04,మరో రెచ్చగొట్టే చర్యకు దిగిన పాకిస్థాన్,\nఇస్లామాబాద్ : పాకిస్థాన్ అంతర్జాతీయ ఉగ్రవాది...,nation
4,8624,03-04-2017 15:48:23,గోవాలో కొడుకుతో కలిసి అల్లు అర్జున్ స్విమ్మింగ్!,స్టార్‌ హీరోగా వరుస సినిమాలతో బిజీగా ఉన్నప్పటి...,entertainment

In [ ]:
test.head()

,SNo,date,heading,body,topic
0,7771,19-05-2017 13:44:10,కేశవ,హీరోగా తెలుగు సినిమాల్లోకి ఎంట్రీ ఇచ్చిన నిఖిల...,entertainment
1,9591,01-08-2017 13:58:24,డబ్బుల కోసం ప్రాణాల మీదకు తెచ్చుకుంటారా.. హీరో...,సినిమాల్లో యాక్షన్ స్టంట్లు చేసేటప్పుడు ఎక్కు...,entertainment
2,12622,05-04-2017 00:31:58,దక్షిణాదిన బీజేపీ పప్పులుడకవ్‌,దక్షిణ భారతాన్ని ఆక్రమించేందుకు బీజేపీ పంచెలు ...,nation
3,16401,30-08-2017 03:34:37,పీఎస్‌ఎల్వీ-సీ39కి గ్రీన్‌సిగ్నల్‌,నేటి మధ్యాహ్నం 1.59కి కౌంట్‌డౌన్‌ షురూశ్రీహరి...,nation
4,10422,10-04-2017 09:00:48,ఏయ్ జయప్రకాష్ అనే కేక వినిపించింది.. వెనక్కి త...,‘ఏమి రా... అబ్బి... యాడికి పోయినావు’ అంటూ రాయ...,entertainment

In [ ]:
# How many classes are there
train["topic"].value_counts()

nation           6628
entertainment    5145
business         2572
sports           1908
editorial        1059
Name: topic, dtype: int64

In [ ]:
# Check the data types and shapes of our datasets
train.shape, test.shape

((17312, 5), (4329, 5))

In [ ]:
# Before preprocessing our data let's extract the features we need to work with 
features = train["body"].to_numpy()
labels = train["topic"].to_numpy()

test_sentences = test["body"].to_numpy()
test_labels = test["topic"].to_numpy()

In [ ]:
# Split our data into train and validation_sets
train_sentences, val_sentences, train_labels, val_labels = train_test_split(features, labels, test_size=0.2, random_state=42)

# Check the length of valid and train datasets
len(train_sentences), len(train_labels), len(val_sentences), len(val_labels)

(13849, 13849, 3463, 3463)

In [ ]:
# Convert our labels into numbers
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
train_labels_encoded = enc.fit_transform(train_labels)
val_labels_encoded = enc.transform(val_labels)
test_labels_encoded = enc.transform(test_labels)

In [ ]:
class_names = np.unique(train_labels)
class_names

array(['business', 'editorial', 'entertainment', 'nation', 'sports'],
      dtype=object)

## Becoming one with the data (Inspecting the data)

In [ ]:
len(features)

17312

In [ ]:
# visuolise random train data and its labels
import random 
random_sentence = random.choice(features)
print(random_sentence)

ద‌క్షిణాదిన విడుద‌ల‌య్యే ప్రాంతీయ‌ సినిమాల‌ను బాలీవుడ్ వాళ్లు చాలా చుల‌క‌న‌గా చూస్తుంటారు. అయితే బాలీవుడ్ స్టార్ హీరో అక్ష‌య్ కుమార్ మాత్రం విభిన్నంగా స్పందించాడు ద‌క్షిణాది సినిమాల‌ను చూసి బాలీవుడ్ చాలా నేర్చుకోవాల‌ని అభిప్రాయ‌ప‌డ్డాడు. ఇటీవ‌ల దుబాయ్‌లో జ‌రిగిన `2.0` వేడుక‌లో అక్ష‌య్ మాట్లాడాడు. `నేను ఇప్ప‌టివ‌ర‌కు బాలీవుడ్‌లో 130 సినిమాలు చేశాను. `2.0` నా 131వ సినిమా. నేను 130 సినిమాల్లో నేర్చుకున్న‌దాని కంటే.. ఈ సినిమా ద్వారానే ఎక్కువ నేర్చుకున్నాను. ద‌క్షిణాది సినిమా ఎంతో ఎదిగింది. అక్క‌ణ్నుంచి బాలీవుడ్ ఎన్నో విష‌యాలు నేర్చుకోవాలి.  ద‌క్షిణాదిన క‌లిసి మెలిసి ఆనందంగా ప‌నిచేస్తారు. ఒక‌ర్ని ఒక‌రు గౌర‌వించుకుంటారు. ఒక‌రి ప్ర‌తిభ‌ను మ‌రొక‌రు ప్ర‌శంసిస్తారు` అని తెలిపాడు.

## Preprocess the data

Before going to Neural Networks we need to turn our data into numerical format in which our model can understand

* TextVectorization  (Converting our text into numbers)
* Embedding layer ( Creating embeddings from the text vectors)

In [ ]:
from tensorflow.keras.layers import TextVectorization, Embedding

In [ ]:
# Find average number of tokens (words) in training Tweets
round(sum([len(i.split()) for i in train_sentences])/len(train_sentences))

172

In [ ]:
# Instantiating our text vectorization layer with required parameters
max_vocab_length = 10000 # Max number of words in our vocabulary
max_length = 173 # Output sequence length
text_vectorizer = TextVectorization(max_tokens=max_vocab_length,
                                   output_sequence_length=max_length)

In [ ]:
# Fit the text vectorizer
text_vectorizer.adapt(train_sentences)

In [ ]:
# Test out the text vectorization layer
# sample_sentence = "ఇండియ‌న్ వారెన్ బ‌ఫెట్ రాకేష్ ఝున్‌ఝున్ వాలా ఐటీ ఉద్యోగాల‌పై ఆస‌క్తిక‌ర విష‌యాల్ని వెల్ల‌డించారు."
# text_vectorizer([sample_sentence]) # The text vectorization layer is working fine

In [ ]:
# Creating embedding layer
embedding_1 = Embedding(input_dim=max_vocab_length,
                       output_dim=128,
                       embeddings_initializer='uniform',
                       input_length=max_length,
                       name="embedding_1")

In [ ]:
# Test out the embedding layer
# sample_sentence = "ఇండియ‌న్ వారెన్ బ‌ఫెట్ రాకేష్ ఝున్‌ఝున్ వాలా ఐటీ ఉద్యోగాల‌పై ఆస‌క్తిక‌ర విష‌యాల్ని వెల్ల‌డించారు."
# sample_embedding = embedding_1(text_vectorizer([sample_sentence]))
# sample_embedding

In [ ]:
# turn our data into tensorflow datasets
train_sentences_dataset = tf.data.Dataset.from_tensor_slices(train_sentences)
train_labels_encoded_dataset = tf.data.Dataset.from_tensor_slices(train_labels_encoded)
train_data = tf.data.Dataset.zip((train_sentences_dataset, train_labels_encoded_dataset)).batch(32).prefetch(tf.data.AUTOTUNE)

val_sentences_dataset = tf.data.Dataset.from_tensor_slices(val_sentences)
val_labels_encoded_dataset = tf.data.Dataset.from_tensor_slices(val_labels_encoded)
val_data = tf.data.Dataset.zip((val_sentences_dataset, val_labels_encoded_dataset)).batch(32).prefetch(tf.data.AUTOTUNE)

test_sentences_dataset = tf.data.Dataset.from_tensor_slices(test_sentences)
test_labels_encoded_dataset = tf.data.Dataset.from_tensor_slices(test_labels_encoded)
test_data = tf.data.Dataset.zip((test_sentences_dataset, test_labels_encoded_dataset)).batch(32).prefetch(tf.data.AUTOTUNE)

train_data, val_data, test_data

(<PrefetchDataset element_spec=(TensorSpec(shape=(None,), dtype=tf.string, name=None), TensorSpec(shape=(None,), dtype=tf.int64, name=None))>,
 <PrefetchDataset element_spec=(TensorSpec(shape=(None,), dtype=tf.string, name=None), TensorSpec(shape=(None,), dtype=tf.int64, name=None))>,
 <PrefetchDataset element_spec=(TensorSpec(shape=(None,), dtype=tf.string, name=None), TensorSpec(shape=(None,), dtype=tf.int64, name=None))>)

## Let's build the model
We've converted our text into numbers.
Now let's build our model
* Bidirectional LSTM

Bidirectional LSTM

In [ ]:
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import Dense, LSTM, GRU, Conv1D, Bidirectional, Input, GlobalAveragePooling1D, GlobalMaxPooling1D

In [ ]:
# Recreate another embedding layer
embedding_4 = Embedding(input_dim=max_vocab_length,
                       output_dim=128,
                        input_length=max_length,
                       name="embedding_4")

# Create LSTM model with functional API
inputs = Input(shape=(1,), dtype="string", name="input_layer")
x = text_vectorizer(inputs)
x = embedding_4(x)
x = Bidirectional(GRU(64))(x)
outputs = Dense(5, activation="softmax", name="output_layer")(x)

model_4 = Model(inputs, outputs, name="bidirectional_model")

# Compile the model
model_4.compile(loss="sparse_categorical_crossentropy",
               optimizer='adam',
               metrics=["accuracy"])


# Fit the model
bidirectional_model_history = model_4.fit(train_data,
                                 epochs=10,
                                 steps_per_epoch=len(train_data),
                                 validation_data=val_data,
                                 validation_steps=len(val_data))

Epoch 1/10
433/433 [==============================] - 61s 117ms/step - loss: 0.5750 - accuracy: 0.7914 - val_loss: 0.2437 - val_accuracy: 0.9217
Epoch 2/10
433/433 [==============================] - 8s 18ms/step - loss: 0.1333 - accuracy: 0.9588 - val_loss: 0.2441 - val_accuracy: 0.9307
Epoch 3/10
433/433 [==============================] - 8s 18ms/step - loss: 0.0578 - accuracy: 0.9837 - val_loss: 0.3483 - val_accuracy: 0.9036
Epoch 4/10
433/433 [==============================] - 7s 17ms/step - loss: 0.0308 - accuracy: 0.9920 - val_loss: 0.3227 - val_accuracy: 0.9220
Epoch 5/10
433/433 [==============================] - 8s 18ms/step - loss: 0.0202 - accuracy: 0.9944 - val_loss: 0.3006 - val_accuracy: 0.9249
Epoch 6/10
433/433 [==============================] - 8s 18ms/step - loss: 0.0079 - accuracy: 0.9982 - val_loss: 0.3214 - val_accuracy: 0.9290
Epoch 7/10
433/433 [==============================] - 8s 18ms/step - loss: 0.0051 - accuracy: 0.9987 - val_loss: 0.3737 - val_accuracy: 0.9252
Epoch 8/10
433/433 [==============================] - 8s 18ms/step - loss: 0.0041 - accuracy: 0.9990 - val_loss: 0.4071 - val_accuracy: 0.9243
Epoch 9/10
433/433 [==============================] - 7s 17ms/step - loss: 0.0046 - accuracy: 0.9986 - val_loss: 0.4080 - val_accuracy: 0.9197
Epoch 10/10
433/433 [==============================] - 7s 17ms/step - loss: 0.0087 - accuracy: 0.9971 - val_loss: 0.4030 - val_accuracy: 0.9220

In [ ]:
# Get results for the bidirectional model
bidirectional_results = calculate_results(val_labels_encoded, make_preds(model_4, val_data))
bidirectional_results

109/109 [==============================] - 2s 11ms/step

{'accuracy': 92.20329194340168,
 'precision': 0.9228001435442044,
 'recall': 0.9220329194340168,
 'f1': 0.9211550958626744}

In [ ]:
model_4.evaluate(test_data)

136/136 [==============================] - 1s 9ms/step - loss: 0.3878 - accuracy: 0.9286

[0.38779935240745544, 0.9286209344863892]

In [ ]:
# Visualise model predictions
visualize_random_preds(model_4)

136/136 [==============================] - 1s 8ms/step
Text:
ఇ-వాలెట్‌ వితడ్రాల్స్‌పైనే వడ్డింపులుముంబై: ఎటిఎంల ద్వారా జరిగే ప్రతి నగదు ఉపసంహరణపై రూ-.25 చొప్పున చార్జి విధించినట్టు వచ్చిన వార్తలను ఎస్‌బిఐ తోసిపుచ్చింది. ఈ వార్తల్లో ఏ మాత్రం నిజం లేదని పేర్కొంది. అయితే ఎస్‌బిఐ మొబైల్‌ ఇ-వాలెట్‌ ‘ఎస్‌బిఐ బుడ్డి’ ఖాతాలోని నగదును ఖాతాదారులు ఎటిఎంల ద్వారా ఉపసంహరించుకుంటే మాత్రం ప్రతి లావాదేవీపై రూ.25 ఛార్జి పడుతుందని ఎస్‌బిఐ ఎండి రజనీష్‌ కుమార్‌ చెప్పారు. బుడ్డీ మొబైల్‌ ఇ-వాలెట్‌ ఖాతాదారుల కోసం  ప్రత్యేకంగా ఎటిఎంల ద్వారా నగదు తీసుకునే సదుపాయాన్ని తొలి సారిగా అందుబాటులోకి తెచ్చినట్టు తెలిపారు. ఎస్‌బిఐ సాధారణ ఎస్‌బి ఖాతాల ఎటిఎం సర్వీసు ఛార్జీల్లో ఎలాంటి మార్పు లేదన్నారు. ఎస్‌బిఐ బుడ్డి ఖాతాదారులు ఇక నుంచి బిజినెస్‌ కరస్పాండెంట్ల (బిసి) ద్వారా కూడా తమ ఖాతాల్లో నగదు జమ చేయడం లేదా వెనక్కి తీసుకోవడం చేయవచ్చని ఎస్‌బిఐ వెల్లడించింది.

Predicted label: business

Original label: business

In [ ]:
visualize_random_preds(model_4)

136/136 [==============================] - 1s 8ms/step
Text:
ఆర్కేనగర్‌ ఉప ఎన్నిక ఫలితం తమిళ రాజకీయాల్లో కీలక మలుపు. స్వతంత్ర అభ్యర్థిగా బరిలోకి దిగి భారీ విజయం సాధించిన శశికళ మేనల్లుడు దినకరన్‌ అనతికాలంలోనే అక్కడి రాజకీయ చిత్రాన్ని మార్చివేసే సూచనలు కనిపిస్తున్నాయి. అన్నాడీఎంకే కంచుకోటలో సగానికిపైగా ఓట్లు సాధించుకొని, అమ్మ రికార్డును కూడా అధిగమించి దినకరన్‌ సాధించిన ఈ విజయం అతడికి అత్యంత విలువైనది. అమ్మ రాజకీయ వారసుడిగా రాష్ట్ర ప్రజలు తనను ఆమోదించారని చెప్పుకోవడానికి బలమైన ఊతాన్నిచ్చింది. మరో మూడునెలల్లో ప్రభుత్వాన్ని కూల్చుతానని ప్రకటించి, తదనుగుణంగా పావులు కదపడానికి వీలుకల్పించింది. అమ్మ స్థానంలో ప్రమాణస్వీకారానికి సిద్ధపడి, ఆఖరు నిముషంలో జైలుకుపోవాల్సి వచ్చిన చిన్నమ్మ కుటుంబం రాజకీయ పునఃప్రవేశానికి ఈ ఫలితం మార్గం సుగమం చేసింది. క్షేత్రస్థాయిలో దినకరన్‌కు అనుకూలమైన వాతావరణం ఉన్నదని గతంలో కొందరు పసిగట్టకపోలేదు. ఊహించనిదల్లా భారీ మెజారిటీ మాత్రమే. అధికారంలో ఉన్న పళని–పన్నీరు ప్రభుత్వంపై తొలి ప్రజా తీర్పే ఇంత వ్యతిరేకంగా ఉండటం అవమానకరం, ప్రమాదకరం. ఫలితాలు రాగానే, పార్టీకి వ్యతిరేకంగా పనిచేశారంటూ దినకరన్‌ మనుషులు మరికొందరిని బహిష్కరించడం, అతను డీఎంకేతో చేతులు కలిపారని విమర్శలు చేయడం వల్ల ప్రయోజనం ఉండదు. దినకరన్‌ భారీగా సొమ్ము పంచారనీ, అతడి పక్షానికి తమ శిబిరం నుంచి ఎవరూ పోరనీ, అక్రమాలపై ఎన్నికల సంఘానికి ఫిర్యాదు చేస్తామని అధికారపక్షం ఏవేవో చెబుతున్నది. ఆత్మవిమర్శంటూ చేసుకోవడానికి ఏమీ లేదు కనుక ఇకపై అధికారపక్షం చేయగలిగేది ఎదురుదాడే. ఈ ఎదురుదాడి క్రమేపీ సన్నగిల్లి చివరకు వారే రాబోయే రోజుల్లో ఆత్మరక్షణలో పడాల్సిన స్థితి వస్తుందని ప్రత్యేకంగా చెప్పుకోనక్కరలేదు. ఆర్కేనగర్‌లో ఓటుకు నాలుగువేల నుంచి పదివేల వరకూ పంచారనీ, ఇది అత్యంత ఖరీదైన ఉప ఎన్నిక అని మీడియా ఎప్పటినుంచో అంటున్నది. డబ్బుతో, బహుమానాలతో ఓటర్లను వశపరచుకున్న వార్తల్లో అవాస్తవమేదీ లేదు కానీ, డబ్బు పంచింది దినకరన్‌ మాత్రమే కాదు.  జయవారసత్వానికీ, తమ అధికారానికీ, ఏడాదిన్నర పనితీరుకూ ఈ తీర్పు తొలి పరీక్ష కనుక అధికారపక్షమేమీ చేతులు ముడుచుకొని కూర్చోలేదు. ఓటర్లు ఒకేపార్టీ నుంచి డబ్బు తీసుకొని దానికే ఓటుచేయడం ఏ ఎన్నికలోనూ జరగదు. పార్టీలన్నింటినుంచీ ఇచ్చినంతా పుచ్చుకొని అంతిమంగా తమకు నచ్చినవారికి ఓటువేయడమే ఎప్పుడూ జరిగేది. దినకరన్‌ భారీ మెజారిటీ చూసిన తరువాత కూడా డబ్బు ఒక్కటే పనిచేసిందని భావించడం సరికాకపోవచ్చు. నిజానికి, అన్ని వ్యవస్థల కళ్ళూ ఆయనమీదే కేంద్రీకరించి ఉన్నప్పుడు మిగతావారికంటే ఆయనకే ఈ విషయంలో ఇబ్బందులు ఎక్కువ. ఇక, ఓటింగ్‌ ముందు రోజు దినకరన్‌ వర్గానికి చెందిన వెట్రివేల్‌ విడుదల చేసిన జయలలిత ఆసుపత్రి వీడియో ఓటర్లపై ఎంతోకొంత సానుకూల ప్రభావం చూపించివుండవచ్చు. శశికళ, దినకరన్‌లు అమ్మ వారసులు కారనీ, పళని పన్నీరులని అప్పటికే నిర్థారణకు వచ్చినవారిపై ఈ వీడియో పనిచేసి రాత్రికిరాత్రికి మానసు మార్చివేయగలిగే అవకాశాలు చాలా తక్కువ.  ఆసుపత్రిలో చేరేటప్పటికే అమ్మ తీవ్ర అనారోగ్యంతో ఉన్నదనీ, శశికళే అమ్మను ఏదో చేసి ఆసుపత్రిలో పడేసిందన్న ఆరోపణలు వెల్లువెత్తిన నేపథ్యంలో, అవి నిజం కాదని ఈ వీడియో చెబుతున్నది. నకిలీదో కాదో తెలియదు కానీ, ఈ వీడియో అమ్మ నియోజకవర్గంలోని ఓటర్లకు ఆమె ఆరోగ్యస్థితిపై ఎన్నడూ లేనంత స్పష్టత ఇచ్చి దినకరన్‌ మరిన్ని ఓట్లు సాధించడానికి ఉపకరించి ఉండవచ్చు. దినకరన్‌ విజయానికి చిన్నాచితకా కారణాలు పనిచేయలేదన్నది సుస్పష్టం. కేంద్రప్రభుత్వం ఆయనను దీర్ఘకాలంగా వెంటాడి వేధిస్తున్నది. చిన్నమ్మ కుటుంబానికి సన్నిహితంగా ఉన్న పారిశ్రామికవేత్తలు, సినిమా ప్రముఖులపై దాడులు జరగడంతో పాటు, ఎన్నికల కమిషన్‌ అధికారులకు లంచం ఇవ్వజూపారన్న అభియోగంతో దినకరన్‌ జైలుకు కూడా వెళ్ళొచ్చారు.  అతనివర్గం గెలుస్తుందన్న భయంతోనే గతంలో ఎన్నిక వాయిదావేశారన్న వాదన కూడా ఉన్నది. ప్రభుత్వ వ్యవస్థలు వెంటాడుతుంటే, అతడు ఎదురొడ్డి పోరాడుతున్న తీరు ఓటర్లకు నచ్చివుండవచ్చు, సానుభూతి కలిగించివుండవచ్చు. జయ మరణం తరువాత రాష్ట్రంలో చోటుచేసుకున్న పరిణామాలన్నీ ఓటర్లకు ఈ సందర్భంగా గుర్తుకు వచ్చివుంటాయి. బీజేపీ పెద్దల అండదండలు చూసుకొని పన్నీరు కన్నీరు కార్చి తిరుగుబాటు చేయడం, ప్రమాణ స్వీకారానికి సిద్ధపడిన చిన్నమ్మ జైలుకుపోవడం, బలమైన పళనివర్గాన్ని పదిమంది ఎమ్మెల్యేలు కూడా లేని పన్నీరు బెదిరించడం, కేంద్రం ఒత్తిడితో రెండు వర్గాలు చేతులు కలిపి శశికళ కుటుంబాన్ని పార్టీనుంచి వెలివేయడం వంటి పరిణామాలను ప్రజలు సరిగానే అర్థం చేసుకున్నారు. అమ్మ పేరిట ఈ రెండువర్గాలూ అంతిమంగా తమిళుల ఆత్మగౌరవాన్ని ఢిల్లీకి తాకట్టు పెట్టేశారని వారికి అనిపించి ఉంటుంది. శశికళ నెత్తిన చేయిపెట్టి ఓదార్చిన క్షణం నుంచి రాష్ట్రంలో కాలూనడానికి నరేంద్రమోదీ– అమిత్‌షాలు చేసిన కుట్రలన్నింటికీ ఆర్కేనగర్‌ ఓటర్ల తీర్పు ధీటైన సమాధానంగా కొందరు అభివర్ణించడంలో తప్పేమీ లేదు.  ఇకపై, దినకరన్‌ ఏం చేయబోతారన్నది పెద్ద విషయం కాదు. ఓడిపోయివుంటే ఆయన పక్షాన మిగిలిన 18 మంది ఎమ్మెల్యేల వైఖరి మీద స్పష్టత వచ్చేది. ఇకపై, మోదీ జగన్నాటకంలో భాగస్వాములైన పళని–పన్నీరు వర్గం తనను తాను బలహీనపడకుండా ఎలా కాపాడుకుంటుందో చూడాలి. దినకరన్‌ మరో పార్టీయే పెడతారో, ఉన్నదానినే ఎలా చీల్చి స్వాధీనం చేసుకుంటారో ఇప్పుడే చెప్పలేం కానీ, చిన్నమ్మ పునఃప్రవేశానికి ఈ తీర్పు తొలిమెట్టు.

Predicted label: nation

Original label: editorial

In [ ]:
visualize_random_preds(model_4)

136/136 [==============================] - 1s 8ms/step
Text:

అన్నీ సవ్యంగా ఉన్నప్పుడు ఆనందంగా ఉండటం కాదు, ప్రతికూల పరిస్థితుల్లోనూ నవ్వగలిగిన వాళ్లు గొప్పవాళ్లు. అలాంటి వ్యక్తుల జాబితాలో ఉండటానికి ప్రయత్నం చేస్తున్నానని అంటోంది త్రిష. ప్రస్తుతం వరుస చిత్రాలతో బిజీగా ఉన్న త్రిష మాట్లాడుతూ ‘‘విషయం ఏదైనా లాజికల్‌గా, మానసికంగా ఆలోచించడం నాకు అలవాటు. కొన్నిసార్లు ఎంత ఆలోచించి నిర్ణయాలు తీసుకున్నా ఎక్కడో లోపం జరుగుతుంది. ఆశించిన ఫలితాలు రావు. అంతమాత్రానికే డీలా పడాల్సిన అవసరం లేదు. పెళ్లి ఆగినంత మాత్రాన వివాహ వ్యవస్థ మీద ద్వేషం పెంచుకోవడం ఎందుకు? నాకు పెళ్లి మీద ఇంకా నమ్మకం ఉంది. నన్ను నన్నుగా ప్రేమించగలిగిన వ్యక్తి కోసం వెయిట్‌ చేస్తున్నా. ప్రేమ లేని చోట ఏ బంధం నిలవదు. వయసు మీద పడుతుందనో, సమాజంలో నలుగురూ ఆరా తీస్తున్నారనో ఎవరినో ఒకరిని పెళ్లి చేసుకుని ఇబ్బందులు పడుతున్నవారిని చాలా మందిని చూస్తుంటాం. అలాంటివారిలో ఒకరిగా మిగలడం నాకు నచ్చదు. పెళ్లికి, వయసుకు సంబంధం లేదని నా ఫీలింగ్‌’’ అని చెప్పుకొచ్చింది - త్రిష

Predicted label: entertainment

Original label: entertainment

In [ ]:
visualize_random_preds(model_4)

136/136 [==============================] - 1s 8ms/step
Text:
న్యూఢిల్లీ: దేశీయ ఐటి రంగంలో పెద్ద ఎత్తున ఉద్యోగాలు గల్లంతవుతున్నాయి. కొత్త నియామకాలు అంతంత మాత్రంగానే సాగుతున్నాయి. అబ్బురపడే రీతిలో వేతనాలు పెంచుతున్నారన్న మాట వినిపించడం లేదు. ఇలాంటి పరిణామాలు దేశంలోని సాఫ్ట్‌వేర్‌ అండ్‌ సర్వీసెస్‌ హబ్స్‌గా ఉన్న పట్టణాల్లో ఇళ్ల అద్దెలను ప్రభావితం చేస్తున్నాయని పరిశ్రమ సంఘం అసోచామ్‌ నివేదిక చెబుతోంది. జూలై నుంచి తదుపరి మూడు త్రైమాసికాల్లో ఇళ్ల అద్దెలు 10 శాతం నుంచి 20 శాతం వరకు తగ్గవచ్చని అసోచామ్‌ పేర్కొంది. నియామకాలు, ఉద్యోగుల వార్షిక వేతనాల పెంపుపై ఒత్తిడి నెలకొన్న నేపథ్యంలో బెంగళూరులోని ఇళ్ల యజమానులు ఇళ్ల అద్దెలను తగ్గిస్తున్నట్టు తెలిపింది. ఇప్పటికే అద్దెకు ఉన్న వారు పరిశ్రమలో నెలకొన్న పరిస్థితిని గురించి వివరిస్తూ అద్దె పెంచకుండా ఉండేలా యజమానులతో మాట్లాడుకుంటున్నారని పేర్కొంది. నెలవారీగా 50 వేల రూపాయలకన్నా ఎక్కువ అద్దె చెల్లిస్తున్న వారికి పరిస్థితి కాస్త సానుకూలంగా మారుతోంది. ఇక వచ్చే మూడు  త్రైమాసికాల్లో బెంగళూరు, చెన్నై, హైదరాబాద్‌ వంటి నగరాల్లో ఇళ్ల అద్దెలు 10-15 శాతం తగ్గవచ్చని, పుణెలో 20 శాతం వరకు తగ్గడానికి ఆస్కారం ఉందని అసోచామ్‌ నివేదిక చెబుతోంది.

Predicted label: business

Original label: business

In [ ]:
visualize_random_preds(model_4)

136/136 [==============================] - 1s 8ms/step
Text:
ట్రంప్‌ ప్రభుత్వం కొత్త నిబంధనలతో వలసదారులపై కొరడా ఝళిపించింది. అక్రమ వలసదారులను సాధ్యమైనంత త్వరగా దేశం నుంచి పంపించి వేసేందుకు అమెరికా అంతర్గత భద్రతా విభాగం (డీహెచ్‌ఎస్‌) కార్యదర్శి జాన్‌ కెల్లీ మంగళవారం తాజాగా రెండు ఆదేశాలను జారీచేసింది. గత నెలలో ట్రంప్‌ జారీ చేసిన ఎగ్జిక్యూటివ్‌ ఆర్డర్‌, డీహెచ్‌ఎస్‌ విడుదల చేసిన ఎన్‌ఫోర్స్‌మెంట్‌ మెమోల నేపథ్యంలో అక్రమ వలసలపై అమెరికా విధానాలు మరింత కఠినతరం కానున్నాయి. ఈ ఆదేశాల ప్రకారం అక్రమంగా సరిహద్దు దాటిన వారిని, ట్రాఫిక్‌ నిబంధనల ఉల్లంఘన సహా ఏ చిన్న తప్పు చేసినా, నేరం చేయబోతాడనే అనుమానం వచ్చినా దేశం నుంచి బహిష్కరించేందుకు అమెరికా ప్రభుత్వం రంగం సిద్ధం చేసింది. క్రిమినల్ కేసులున్న అక్రమ వలసదారులే ప్రస్తుతం తమ లక్ష్యమని అమెరికా ప్రభుత్వం చెబుతున్నప్పటికీ, అనంతర కాలంలో ఇది క్రమంగా అందరికీ వర్తిస్తుంది. అమెరికాలో వివిధ దేశాలకు చెందిన అక్రమంగా నివసిస్తున్న కోటి యాభై లక్షల మంది ప్రజలపై ట్రంప్‌ ప్రభుత్వ కొత్త నిబంధనల ప్రభావం పడనుంది. అమెరికాలో ఉంటూ తగిన అధికారిక అనుమతి పత్రాలు లేకుండానే చిన్న చిన్న ఉద్యోగాలు చేసుకుంటున్న మూడు లక్షల మంది భారతీయ అమెరికన్ల పరిస్థితి అగమ్యగోచరంగా మారింది. నేర చరిత్రగల విదేశీయులను దేశ భద్రతకు ఆటంకం కలిగించేవారిగా పరిగణించి వారందర్నీ దేశం నుంచి పంపించివేయాలనే ప్రభుత్వం నిర్ణయించింది. ట్రంప్‌ కొత్త నిబంధనల ప్రకారం కోర్టు విచారణ వంటి న్యాయ ప్రక్రియ అవసరం లేకుండానే వలసదారులను దేశం నుంచి పంపించవచ్చు. విదేశీయులపై ట్రంప్‌ చేపట్టిన నూతన దేశ బహిష్కరణ విధానాన్ని డెమోక్రాట్లు సహా ప్రజాస్వామికవాదులందరూ తప్పుపడుతున్నారు. రెడ్‌ ఇండియన్‌ మూలవాసీలను నిర్మూలించి, చారిత్రక అక్రమ వలసల పునాదిపై అమెరికన్‌ సమాజం మొలకెత్తిన విషయం తెలిసిందే. ప్రపంచవ్యాప్త భౌతిక, బౌద్ధిక శక్తుల పునాదిపై ఏర్పడిన బహళత్వం సమాజం ప్రపంచ ఆర్థిక సంక్షోభం పర్యవసానంగా నేడు సామాజికార్థిక ఆత్మరక్షణ విధానాల ద్వారా ముకుళిస్తోంది. ప్రపంచానికి పెద్దన్నగా ఉంటూ భూగోళ ఇంధనవనరుల వంటి ప్రకృతి సంపదలు, ప్రపంచ ఆర్థిక వ్యవస్థపై ఆధిపత్యం వహిస్తున్న సందర్భంలో అమెరికా పాలకులు తమ దేశంలోకి చౌక శ్రమశక్తి, చౌక మేధాశక్తి వలసలను బాగా ప్రోత్సహించారు. వినిమయ సరుకుల ఉత్పత్తి రంగం నుంచి ద్రవ్య వాణిజ్యం, సాఫ్ట్‌వేర్‌ ప్రధానంగా సాంకేతిక రంగానికే పరిమితమైన ఆమెరికా ఆర్థిక వ్యవస్థ క్రమంగా 2007నాటి గృహ రుణాల సంక్షోభంతో మొదలై తీవ్ర ఆర్థిక మాంద్యంలో కూరుకుపోయింది. పర్యవసానంగా అమెరికాలో నిరుద్యోగం ప్రబలి సామాజిక అశాంతి క్రమంగా పెరిగింది. మునుపటి స్థాయి ఆర్థిక వికాసాన్ని సాధించలేమన్న నిరాశా నిస్పృహలు అలుముకున్న నేపథ్యంలో అమెరికా ఉద్యోగాలు ‘అమెరికన్లకే అనే నినాదంతో ముందుకొచ్చిన’ రిపబ్లికన్‌ పార్టీ నాయకుడు ట్రంప్‌కు స్థానిక అమెరికన్లు పట్టం కట్టారు. అమెరికన్ల నిరుద్యోగానికి, ఉగ్రవాద దాడుల భయాందోళనలకు, ఆ సమాజంలో నేర స్వభావం పెచ్చరిల్లడానికి, ఆర్థిక వ్యవస్థ మాంద్యంలోకి కూరుకుపోవడానికి ప్రధాన కారణం తమ అవకాశాలను దెబ్బతీస్తున్న విదేశీ వలసదారులే అన్న భావం స్థానిక తెల్ల జాతీయులలోనే కాకుండా, ఆఫ్రికన్‌ అమెరికన్లలోనూ, భారతీయ సంతతికి చెందిన అమెరికన్లు (పీఐఓ) సహా అమెరికా పౌరులందరిలోనూ వలసకారులపై విద్వేషం ఏర్పడింది. దాంతో ఈ సామాజిక సమూహాలన్నీ వలసల్ని వ్యతిరేకిస్తున్న మితవాది ట్రంప్‌ను పూర్తిగా సమర్థించడం అమెరికా సమాజానికి కొత్త సవాళ్ళు ఎదురైనాయి. సమాజంలో అలుముకున్న విదేశీయతా వైముఖ్యం (జెనోఫోబియా) పునాదిపైనే ట్రంప్‌ కొత్త నిబంధనలు అవతరించాయి. రెండవ ప్రపంచ యుద్ధానంతరం అగ్రరాజ్యంగా అవతరించిన నాటి నుంచి అమెరికా అనుసరించిన భౌగోళిక రాజకీయాలు, దురాక్రమణ యుద్ధాలు, ఉగ్రవాద వ్యతిరేక యుద్ధం పేరుతో సాగించిన నేరాలు, ఎకనామిక్‌ హిట్‌ మాన్‌ల సహకారంతో సాగించిన కార్పొరేట్‌ కుట్రలు, దేశ ప్రజల జీవితాల్ని పణంగా పెట్టి అమలు చేసిన వలసవాద (స్వదేశీ, విదేశీ) ఆర్థిక విధానాలే అమెరికాలో అలుముకున్న ఉదాసీనతకు ప్రధాన కారణం. దాన్ని దాచిపెట్టి పొట్టచేతబట్టుకుని వలస వచ్చినవారిని దోషులుగా చేసి, వారిపైకి స్థానిక అమెరికన్ల విద్వేషాన్ని రెచ్చగొట్టడం వల్ల సామాజిక సమస్యల పరిష్కారాల్ని కొంతకాలం వాయిదా వేయొచ్చు. అయితే ట్రంప్‌ అధ్యక్షుడిగా ప్రమాణ స్వీకారం చేయక ముందు నుంచి ఆయనకు వ్యతిరేకంగా సాగుతున్న ‘ట్రంప్‌ మా కొద్దు’ తరహా ఉద్యమాలు అమెరికా సమాజ బహుళ ప్రజాస్వామిక సాంప్రదాయాలకు, విలువలకు అద్దం పడుతున్నాయి. అయితే ఆ దేశ సామాజికార్థిక విధానాల్లో మౌలికంగా ప్రజా ప్రయోజనకరమైన మార్పులు చోటు చేసుకోనంత వరకు ఉగ్రవాద ప్రమాదం సాకుతో వలసల నియంత్రించేందుకు ట్రంప్‌ చేపట్టిన విధానాలు ఆ దేశ ప్రజాస్వామిక విలువల వారసత్వాన్ని దెబ్బతీస్తాయి. చరిత్రలో ఆర్థిక వికాస కాలంలో వలసల్ని ప్రోత్సహించడం, సంక్షోభ కాలంలో వలసల్ని, వలస ప్రజల్ని కట్టడి చేయడం పారిశ్రామిక సమాజాలకు పరిపాటే. అమెరికా తదితర దేశాల విధానాల్లో వస్తున్న ఈ మార్పుల నేపథ్యంలో దేశానికి తిరిగి రాబోతున్న శ్రమశక్తిని, మేధాశక్తిని దేశ ఆర్థిక వికాసానికి దోహదం చేసే విధంగా మలచుకోగలగాలి. అందుకోసం తాత్కాలిక, దీర్ఘకాలిక ప్రణాళికలతో కూడిన జాతీయ విధానాన్ని దూరదృష్టితో రూపొందించాల్సిన తరుణమిది.

Predicted label: nation

Original label: editorial